/*  ======================== MOBILE ================================= */
@media (min-width: 556px) {

   .menu-wrap .hamburger,
   .menu-wrap .toggler {
      display: none;
   }
}

/* REMOVE HOVER ON BUTTONS ON MOBILE ================================= */
@media screen and (max-width: 851px) {

   svg:hover path {
      fill: white
   }

   #hm a:hover {
      color: white;
   }

   #hm:hover:after {
      color: #E481FD;
      content: attr(data-end);
      transition: 0.3s ease;
   }

   .intro-buttons:hover {
      background-color: transparent;
      color: #EFEFEF;
      transition: 0.3s;
   }

   form button:hover {
      background-color: transparent;
      color: #efefef;
   }
}

/* NAV/HEADER =================================== */
@media screen and (max-width: 556px) {
   .fix-content-center-nav ul {
      display: none;
   }

   .fix-content-center-intro {
      width: 100%;
      margin-bottom: 50px;
   }

   .beside {
      display: block;
      width: 100%;
   }

   .beside:nth-child(1) {
      margin: 40px 0 0 0;
   }

   .intro-buttons {
      margin: 16px 0 0 0;
      width: 100%;
   }

}

@media screen and (max-width: 375px) {
   nav {
      width: 375px;
   }

   header {
      width: 375px;
   }

   .fix-content-center-intro {
      width: 100%;
   }
}

/* MY WORK  =================================== */
@media (hover: none) {
   .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #EFEFEF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 1;
   }
}

/*  ======================== TABLET ================================= */

/* NAV =================================== */
@media screen and (max-width: 1164px) {
   .fix-content-center-nav {
      width: 100%;
      padding: 24px;
   }
}

/* MY WORK  =================================== */
@media screen and (max-width: 1164px) {
   #fix-content-center-work {
      width: 100%;
      padding: 80px 24px;
   }

   .projects {
      width: calc(50% - 20px);
   }

   #center-project {
      margin: 0;
      margin-left: 40px;
   }

   #last-project {
      margin-top: 40px;
      width: 100%;
   }
}

/* ABOUT  =================================== */
@media screen and (max-width: 1164px) {
   #fix-content-center-about {
      width: 100%;
      padding: 0px 24px;
      padding-top: 110px;
      justify-content: space-evenly;
   }

   #fix-content-center-about {
      display: block;
   }

   #about-bigger-p {
      margin-top: 40px;
   }
}

/* FORM =================================== */
@media screen and (max-width: 1164px) {
   #fix-content-center-form {
      width: 100%;
      padding: 110px 24px;
      display: block;
   }

   form {
      margin-top: 40px;
   }

   #form-container {
      width: 550px;
   }

}


/* MISC =================================== */

@media screen and (max-width: 800px) {
   #fix-content-center-work {
      flex-direction: column;
   }

   .projects {
      width: 100%;
   }

   #center-project {
      margin-left: 0px;
      margin-top: 40px;
   }
}

@media screen and (max-width: 630px) {
   #form-container {
      width: 100%;
   }

   #about-text-container {
      width: 100%;
   }
}